body{
	background-color: antiquewhite;
}

p {
	color: blue;
}
h2{
	padding: 0 10%;
	color: rgb(55, 0, 255);
}

ul{
	display: flex;
	justify-content: space-around;
}

.button__home {
	display: flex;
	position: fixed;
	margin-left: 85%;  
	bottom: 20px;
}
 